<template>
  <div v-if="games">
    <div class="column is-narrow" v-for="key in games.allIds" :key="key">
        <a class="button" @click="changeLeague(games.byId[key].league_key)" :class="{ 'is-primary' : (games.byId[key].league_key === selectedLeagueKey )}">{{games.byId[key].league_name}}</a>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState({
      selectedLeagueKey: (state) => state.selectedLeagueKey,
      loading: (state) => state.loading,
      resource: (state) => state.resource,
      games: (state) => state.games
    })
  },
  mounted () {
    this.$store.dispatch('games')
  },
  watch: {
    $route: 'changeLeague'
  },
  methods: {
    changeLeague (leagueKey) {
      this.$store.dispatch('changeLeague', {
        selectedLeagueKey: leagueKey
      })
    }
  }
}
</script>
