<template>
  <section class="hero is-medium is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          FFL Scoreboard
        </h1>
        <h2 class="subtitle">
          Fantasy football matchup summary and top scorers
        </h2>
        <div>
          <router-link class="button" to="/matchups">View Matchups</router-link>
        </div>
      </div>
    </div>
    <div class="hero-foot">
      <div class="container has-text-right">
        <a href="https://www.yahoo.com/?ilc=401" target="_blank"> <img src="https://poweredby.yahoo.com/white.png" width="134" height="29"/></a>
      </div>
    </div>
  </section>
</template>
