<template>
  <a class="button is-large" @click="login">
    <span class="icon is-medium">
      <i class="fab fa-yahoo"></i>
    </span>
    <span>Login to Yahoo</span>
  </a>
</template>

<script>
export default {
  methods: {
    login () {
      this.$store.dispatch('login')
    }
  }
}
</script>
