<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <router-link class="navbar-item" to="/"><i class="fas fa-home"></i></router-link>
      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-end">
        <router-link class="navbar-item" to="/query">Query</router-link>
        <router-link class="navbar-item" to="/games">Games</router-link>
        <router-link class="navbar-item" to="/matchups">Matchups</router-link>
        <!-- <template v-if="games">
          <router-link v-for="index in games.allIds" :key="index" :to="{ name: 'matchups', params: { selectedLeagueKey: games.byId[index].league_key, selectedWeek: selectedWeek }}" class="navbar-item" :class="{ 'is-active' : (games.byId[index].league_key === selectedLeagueKey )}">{{games.byId[index].league_name}}</router-link>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Week {{ selectedWeek }}
            </a>
            <div class="navbar-dropdown">
              <router-link v-for="week in weeks" :key="week" :to="{ name: 'matchups', params: { selectedLeagueKey: selectedLeagueKey, selectedWeek: week }}" class="navbar-item" :class="{ 'is-active' : (week === selectedWeek )}">{{ week }}</router-link>
            </div>
          </div>
        </template> -->
      </div>
    </div>
  </nav>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'MainNavbar',
  computed: {
    ...mapState({
      selectedLeagueKey: state => state.selectedLeagueKey,
      selectedWeek: state => state.selectedWeek,
      games: state => state.games,
      weeks: state => state.weeks
    })
  },
  mounted () {
    document.addEventListener('DOMContentLoaded', () => {
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0)
      if ($navbarBurgers.length > 0) {
        $navbarBurgers.forEach(el => {
          el.addEventListener('click', () => {
            const target = el.dataset.target
            const $target = document.getElementById(target)

            el.classList.toggle('is-active')
            $target.classList.toggle('is-active')
          })
        })
      }
    })
  }
}
</script>
