<template>
  <div class="section">
    <div class="container" v-if="draftstatus">
      {{games}}
    </div>
    <div class="container" v-else>
      <game-list class="columns is-mobile is-multiline is-centered" :games="games" :selectedLeagueKey="selectedLeagueKey" :selectedWeek="selectedWeek"/>
      <week-list :weeks="weeks" :selectedLeagueKey="selectedLeagueKey" :selectedWeek="selectedWeek"></week-list>
      <transition-group enter-active-class="animated bounceInDown" leave-active-class="animated bounceOutDown">
        <div v-if="loading" key="loading">
        </div>
        <div class="columns is-multiline" v-else key="notloading">
          <matchup-base v-for="(matchup, index) in matchups" :key="index" :matchup="matchup"></matchup-base>
          <player-list title="Top Scorers" :players="top"></player-list>
        </div>
      </transition-group>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import GameList from '@/components/GameList.vue'
import WeekList from '@/components/WeekList.vue'
import MatchupBase from '@/components/MatchupBase.vue'
import PlayerList from '@/components/PlayerList.vue'

export default {
  props: ['selectedLeagueKey', 'selectedWeek'],
  components: {
    'game-list': GameList,
    'week-list': WeekList,
    'matchup-base': MatchupBase,
    'player-list': PlayerList
  },
  computed: {
    ...mapState({
      loading: state => state.loading,
      resource: state => state.resource,
      games: state => state.games,
      weeks: state => state.weeks,
      matchups: state => state.matchups,
      top: state => state.top,
      draftstatus: state => state.games.draft_status !== 'predraft',
      midevent: state => {
        let status = [...new Set(state.scoreboard.fantasy_content.league.scoreboard.matchups.matchup.map(matchup => matchup.status))]
        return status.includes(status => status === 'midevent')
      }
    })
  },
  mounted () {
    this.$store.dispatch('games')
      .then(games => {
        if (this.selectedLeagueKey && this.selectedWeek) {
          this.$store.dispatch('changeLeague', {
            selectedLeagueKey: this.selectedLeagueKey,
            selectedWeek: this.selectedWeek
          })
        } else if (this.selectedLeagueKey && this.selectedWeek === null) {
          return `/matchups/${this.selectedLeagueKey}/${games.byId[games.allIds[0]].current_week}`
        } else if (localStorage.selectedLeagueKey) {
          return `/matchups/${localStorage.selectedLeagueKey}/${games.byId[games.allIds[0]].current_week}`
        } else {
          return `/matchups/${games.byId[games.allIds[0]].league_key}/${games.byId[games.allIds[0]].current_week}`
        }
      })
      .then(path => {
        if (path) {
          this.$router.push({ path })
        }
      })
  },
  watch: {
    '$route': 'changeLeague'
  },
  methods: {
    changeLeague () {
      this.$store.dispatch('changeLeague', {
        selectedLeagueKey: this.selectedLeagueKey,
        selectedWeek: this.selectedWeek
      })
    }
  }
}
</script>
