<template>
  <div v-if="matchup" class="column is-half">
    <template v-if="matchup.status === 'postevent'">
      <div class="box has-text-black" :class="{ 'has-background-warning' : (matchup.teams[0].is_current_login || matchup.teams[1].is_current_login) }">
        <MatchupTeamPostevent :team0="matchup.teams[0]" :team1="matchup.teams[1]"/>
      </div>
    </template>
    <template v-else>
      <div class="box has-text-black" :class="{ 'has-background-warning' : (matchup.teams[0].is_current_login || matchup.teams[1].is_current_login) }">
        <MatchupTeamMidevent :team0="matchup.teams[0]" :team1="matchup.teams[1]"/>
      </div>
    </template>
  </div>
</template>

<script>
import MatchupTeamPostevent from '@/components/MatchupTeamPostevent.vue'
import MatchupTeamMidevent from '@/components/MatchupTeamMidevent.vue'

export default {
  name: 'MatchupBase',
  props: ['matchup'],
  components: {
    'MatchupTeamPostevent': MatchupTeamPostevent,
    'MatchupTeamMidevent': MatchupTeamMidevent
  }
}
</script>

<style lang="scss" scoped>
.matchup {
  text-align: center;
}
.highlight {
  background-color: gold;
}
</style>
