<template>

  <div class="level is-mobile is-size-7-mobile">
    <div class="level-item">
      <div>
        <p>{{ team0.name }}</p>
        <p>{{ team0.grade }}</p>
        <p>{{ team1.name }}</p>
        <p>{{ team1.grade }}</p>
      </div>
    </div>
    <div class="level-item">
      <div>
        <p>{{ team0.points.total | toFixed(2) }}</p>
        <p>({{ team0.points.projected | toFixed(2) }})</p>
        <p>{{ team1.points.total | toFixed(2) }}</p>
        <p>({{ team1.points.projected | toFixed(2) }})</p>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  name: 'MatchupteamPostevent',
  props: ['team0', 'team1']
}
</script>
