<template>
  <div class="column" v-if="players && players.allIds.length > 0">
    <table class="table is-fullwidth is-striped">
      <thead>
        <tr>
          <th class="th" colspan="5">{{title}}</th>
        </tr>
        </thead>
      <tbody>
        <tr v-for="key in players.allIds" :key="key" :class="classList(players.byId[key])">
          <td>{{players.byId[key].points}}</td>
          <td colspan="2">{{players.byId[key].name}}</td>
          <td>{{players.byId[key].position}}</td>
          <td>{{players.byId[key].editorial_team_abbr}}</td>
          <!-- <td><i class="fas fa-sticky-note" :class="{isInvisible : !(players.has_player_notes || players.has_recent_player_notes), note : players.has_player_notes, recentnote : players.has_recent_player_notes}"></i></td> -->
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  props: {
    title: String,
    players: Object
  },
  methods: {
    classList (player) {
      let css = ''
      if (player.is_owned_by_current_login) {
        css = (player.position === 'BN') ? 'has-background-info has-text-light' : 'is-selected'
      }
      return css
    }
  }
}
</script>

<style lang="scss" scoped>
.th {
  text-align: center;
}
</style>
