<template>
<div class="columns">
  <div class="column is-10 is-offset-1">
    <div class="field">
      <label class="label"></label>
      <table class="table">
        <tbody>
        <tr>
          <td>League key</td>
          <td>
            <game-list class="columns is-mobile is-multiline is-centered"/>
          </td>
        </tr>
        <tr>
          <td>Team key</td>
          <td>{{ games.byId[selectedLeagueKey].team_key }}</td>
        </tr>
        <tr>
          <td>Games</td>
          <td>/fantasy/v2/users;use_login=1/games;is_available=1;game_keys=nfl/leagues/teams</td>
        </tr>
        <tr>
          <td>League</td>
          <td>/fantasy/v2/league/{{ selectedLeagueKey }}/</td>
        </tr>
        <tr>
          <td>Roster</td>
          <td>/fantasy/v2/team/{{ games.byId[selectedLeagueKey].team_key }}/roster;week=2</td>
        </tr>
        <tr>
          <td>Week 1 Top 25</td>
          <td>/fantasy/v2/league/{{ selectedLeagueKey }}/players;count=25;sort=PTS;sort_type=week;sort_week=1;start=0/stats;type=week;week=1</td>
        </tr>
        <tr>
          <td>Matchups</td>
          <td>/fantasy/v2/league/{{ selectedLeagueKey }}/teams/matchups;week=2</td>
        </tr>
        <tr>
          <td>Scoreboard</td>
          <td>/fantasy/v2/league/{{ selectedLeagueKey }}/scoreboard;week=2</td>
        </tr>
        </tbody>
      </table>
    </div>
    <label class="label">
      Resource
      <a class="is-size-7" href="https://developer.yahoo.com/fantasysports/guide/ResourcesAndCollections.html#ResourcesAndCollections-introduction" target="_blank">help</a>
    </label>
    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input" v-model="url" type="text">
      </div>
      <div class="control">
        <button class="button is-primary" @click="go">Go</button>
      </div>
    </div>
    <div class="code">
      <button class="button is-small" @click="copy">Copy</button>
      <pre><code>{{data}}</code></pre>
    </div>
    <textarea ref="code" :value="data" readonly></textarea>
  </div>
</div>
</template>

<script>
import { mapState } from 'vuex'
import GameList from '@/components/GameList.vue'

export default {
  name: 'QueryView',
  components: {
    'game-list': GameList
  },
  computed: {
    url: {
      get () {
        return this.$store.state.url
      },
      set (value) {
        this.$store.commit('url', value)
      }
    },
    ...mapState({
      selectedLeagueKey: state => state.selectedLeagueKey,
      data: state => state.data,
      games: state => state.games
    })
  },
  methods: {
    go () {
      this.$store.dispatch('get')
    },
    copy () {
      this.$refs.code.select()
      document.execCommand('copy')
    }
  },
  watch: {
    '$route': 'changeLeague'
  }
}
</script>

<style lang="scss" scoped>
.code > button {
  float: right;
  z-index: 1;
}
.code > pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
textarea {
  position: absolute;
  left: -9999px;
}
</style>
