<template>
  <div v-if="settings">
    <table>
      <tr v-for="key in settings.allIds" :key="key">
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState({
      selectedLeagueKey: (state) => state.selectedLeagueKey,
      loading: (state) => state.loading,
      resource: (state) => state.resource,
      games: (state) => state.games
    })
  },
  mounted () {
    this.$store.dispatch('games')
  },
  watch: {
    $route: 'changeLeague'
  },
  methods: {
    changeLeague (leagueKey) {
      this.$store.dispatch('changeLeague', {
        selectedLeagueKey: leagueKey
      })
    }
  }
}
</script>
