<template>
  <div class="section">
    <div class="container">
      <game-list class="columns is-mobile is-multiline is-centered"/>
    </div>
    <div class="container">
      <week-list class="columns is-mobile is-multiline is-centered"/>
    </div>
  </div>
</template>

<script>
import GameList from '@/components/GameList.vue'
import WeekList from '@/components/WeekList.vue'

export default {
  components: {
    'game-list': GameList,
    'week-list': WeekList
  }
}
</script>
