<template>
  <nav v-if="weeks" class="breadcrumb is-centered" aria-label="breadcrumbs">
    <ul v-if="selectedLeagueKey">
      <li :class="{'is-active' : week === selectedWeek}" v-for="(week, index) in weeks" :key="index">
        <a @click="changeWeek(week)">{{week}}</a>
      </li>
    </ul>
  </nav>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState({
      selectedLeagueKey: (state) => state.selectedLeagueKey,
      selectedWeek: (state) => state.selectedWeek,
      weeks: (state) => state.weeks
    })
  },
  methods: {
    changeWeek (week) {
      this.$store.dispatch('changeWeek', {
        selectedWeek: week
      })
    }
  }
}
</script>
