@charset "utf-8";
@import 'bulma/sass/utilities/initial-variables.sass';
@import 'bulma/sass/utilities/functions.sass';
@import url('https://fonts.googleapis.com/css?family=Mukta+Vaani');

$green: rgba(75, 115, 15, 0.25);
$green-light: rgba(75, 115, 15, 0.5);
$green-lighter: rgb(75,115,15);
$red: rgb(255,99,71);
$gold: #D69D00;
$purple: #592041;

// Update Bulma's global variables
$family-sans-serif: 'Mukta Vaani', sans-serif;
$grey-dark: $blue;
$grey-light: $green-light;
$primary: $purple;
$link: $red;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import 'bulma/bulma.sass';
@import url('~animate.css/animate.min.css');
