<template>
  <div id="app">
    <main-navbar/>
    <router-view></router-view>
  </div>
</template>

<script>
import MainNavbar from '@/components/MainNavbar.vue'
export default {
  name: 'App',
  components: {
    'main-navbar': MainNavbar
  }
}
</script>

<style lang="scss">
// $body-family: $family-primary !default;
// $body-color: $text !default;
// $body-weight: $weight-normal !default;
// $body-line-height: 1.5 !default;

// $code-family: $family-code !default;
// $code-padding: 0.25em 0.5em 0.25em !default;
// $code-weight: normal !default;
// $code-size: 0.875em !default;

// $hr-background-color: $background !default;
// $hr-height: 2px !default;
// $hr-margin: 1.5rem 0 !default;

// $strong-color: $text-strong !default;
// $strong-weight: $weight-bold !default;
</style>
